DATABASE_URL=postgresql://res_user:res_password@reservation_db:5432/reservation_db
SECRET_KEY=b7a8f3c2e9d1a5b6c4d8e2f1a3b5c7d9e0f2a4b6c8d0e1f3a5b7c9d1e3f5a7b9c1
ALGORITHM=HS256
AUTH_SERVICE_URL=http://auth_service:8000
